{{> header}}

<h3 class="pad-20 capital	card text-center">{{rpgweapon}} Abilities</h3>

<div id="accordion">

{{#each contents}}
	<div class="pad-t-20 text-center">
			<h5 class="pad-b-20 text-{{this.bg}}" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapse{{this.id}}">{{this.name}}</h5>
			<div class="card">
			<div id="collapse{{this.id}}" class="collapse" data-parent="#accordion">
				<h5 class="pad-10">Display Properties</h5>
				<table class="table table-striped table-bordered wide-380 mx-auto">
					<tr>
						<td>ID</td>
						<td>{{{this.id}}}</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>{{{this.name}}}</td>
					</tr>
					<tr>
						<td>Index</td>
						<td>{{{this.index}}}</td>
					</tr>
					<tr>
						<td>Class</td>
						<td>{{{this.rpgclass}}}</td>
					</tr>
					<tr>
						<td>Weapon</td>
						<td>{{{this.weapon}}}</td>
					</tr>
					<tr>
						<td>Ability</td>
						<td>{{{this.ability}}}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{{this.type}}}</td>
					</tr>
					<tr>
						<td>BG</td>
						<td>{{{this.bg}}}</td>
					</tr>
					<tr>
						<td>Level Req</td>
						<td>{{{this.levelreq}}}</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>{{{this.description}}}</td>
					</tr>
					<tr>
						<td>Effect</td>
						<td>{{{this.effect}}}</td>
					</tr>
					<tr>
						<td>Damage Calc</td>
						<td>{{{this.damagecalc}}}</td>
					</tr>
				</table>

				<h5 class="pad-b-10">Functional Properties</h5>
				<table class="table table-striped table-bordered wide-380 mx-auto">
					<tr>
						<td>Mana Cost</td>
						<td>{{{this.manacost}}}</td>
					</tr>
					<tr>
						<td>Target</td>
						<td>{{{this.target}}}</td>
					</tr>
					<tr>
						<td>Weapon ATT</td>
						<td>{{{this.weaponatt}}}</td>
					</tr>
					<tr>
						<td>Damage Type</td>
						<td>{{{this.dmgtype}}}</td>
					</tr>
					<tr>
						<td>Crit Type</td>
						<td>{{{this.crittype}}}</td>
					</tr>
					<tr>
						<td>Miss Rate</td>
						<td>{{{this.missrate}}}</td>
					</tr>
					<tr>
						<td>Crit Rate</td>
						<td>{{{this.critrate}}}</td>
					</tr>
					<tr>
						<td>Damage Multiplier</td>
						<td>{{{this.multiplier}}}</td>
					</tr>
					<tr>
						<td>Additive Damage</td>
						<td>{{{this.additive}}}</td>
					</tr>
					<tr>
						<td>Pierce</td>
						<td>{{{this.pierce}}}</td>
					</tr>
					<tr>
						<td>Heal</td>
						<td>{{{this.heal}}}</td>
					</tr>
					<tr>
						<td>Mana</td>
						<td>{{{this.mana}}}</td>
					</tr>
				</table>

				{{#if status}}
					<h5 class="pad-b-10">Status Array</h5>
					{{#each status}}
					<table class="table table-striped table-bordered wide-380 mx-auto">
						<tr>
							<td>Val</td>
							<td>{{{this.val}}}</td>
						</tr>
						<tr>
							<td>Target</td>
							<td>{{{this.target}}}</td>
						</tr>
						<tr>
							<td>Name</td>
							<td class="bold-text">{{{this.name}}}</td>
						</tr>
						<tr>
							<td>Effect</td>
							<td>{{{this.effect}}}</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{{this.duration}}}</td>
						</tr>
					</table>
					{{/each}}
				{{/if}}

				{{#if buff}}
					<h5 class="pad-b-10">Buff Array</h5>
					{{#each buff}}
					<table class="table table-striped table-bordered wide-380 mx-auto">
						<tr>
							<td>Val</td>
							<td>{{{this.val}}}</td>
						</tr>
						<tr>
							<td>Color</td>
							<td>{{{this.color}}}</td>
						</tr>
						<tr>
							<td>Effect</td>
							<td>{{{this.effect}}}</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{{this.duration}}}</td>
						</tr>
						<tr>
							<td>ATT</td>
							<td>{{{this.att}}}</td>
						</tr>
						<tr>
							<td>DEF</td>
							<td>{{{this.def}}}</td>
						</tr>
						<tr>
							<td>INT</td>
							<td>{{{this.int}}}</td>
						</tr>
						<tr>
							<td>RES</td>
							<td>{{{this.res}}}</td>
						</tr>
					</table>
					{{/each}}
				{{/if}}

				{{#if debuff}}
					<h5 class="pad-b-10">Debuff Array</h5>
					{{#each debuff}}
					<table class="table table-striped table-bordered wide-380 mx-auto">
						<tr>
							<td>Val</td>
							<td>{{{this.val}}}</td>
						</tr>
						<tr>
							<td>Color</td>
							<td>{{{this.color}}}</td>
						</tr>
						<tr>
							<td>Effect</td>
							<td>{{{this.effect}}}</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{{this.duration}}}</td>
						</tr>
						<tr>
							<td>ATT</td>
							<td>{{{this.att}}}</td>
						</tr>
						<tr>
							<td>DEF</td>
							<td>{{{this.def}}}</td>
						</tr>
						<tr>
							<td>INT</td>
							<td>{{{this.int}}}</td>
						</tr>
						<tr>
							<td>RES</td>
							<td>{{{this.res}}}</td>
						</tr>
					</table>
				{{/each}}	
				{{/if}}
			</div><!-- ./collapse -->
		</div><!-- ./card -->
	</div><!-- ./pad-20 -->
{{/each}}
</div><!-- ./accordion -->
{{> footer}}