{{> header}}

<div class="pad-10 text-center">
  <h1 class="text-orange"></h1>
  <h4 class="pad-10 text-orange">{{ description }}</h4>
</div>

{{# each contents}}
	<div class="pad-20 text-center">
		<h5>{{this.name}}</h5>
		<p>HP: {{this.hp}}</p>
		<p>ATT: {{this.att}}</p>
		<p>DEF: {{this.def}}</p>
		<p>INT: {{this.int}}</p>
		<p>RES: {{this.res}}</p>
	</div>
{{/each}}

{{> footer}}