<div class="text-white text-center bg-primary">
  <h1 class="pad-t-20 pad-b-10"> RPGenius </h1>
  <p class="pad-b-20"> An online tool for curating a DnD-lite experience. </p>
</div>


<h2 class="pad-20 text-gray text-center pulsing-text-dark"> Select a Class... </h2>

<!-- Class Selection -->  
<div class="x-scroll-wrapper pad-t-10 pad-b-10 pad-l-5 pad-r-5 mar-r-10">

{{# each contents}}

  <!-- {{{this.name}}} -->
  <a id="rpg-class-{{this.id}}" href="weapon-select-{{this.id}}" class="card text-decoration-none x-scroll-item mar-l-5 mar-r-5 hover-blue">
  <div class="text-white bg-{{this.bg}} rounded">
    <div class="card-header text-center">
      <h5>{{this.name}}</h5>
    </div>
    <div class="card-body pad-10 text-center">
      <p class="card-text text-center">{{this.description}}</p>
    </div>
    <ul class="list-group text-center">
      <li class="list-group-item align-items-center bg-{{this.bg}}" style="padding: .35rem 1.25rem;">
        <span class="badge badge-light text-red">{{this.hp}}</span>
        HP
      </li>
      <li class="list-group-item align-items-center bg-{{this.bg}}" style="padding: .35rem 1.25rem;">
        <span class="badge badge-light text-orange">{{this.att}}</span>
        ATT
      </li>
      <li class="list-group-item align-items-center bg-{{this.bg}}" style="padding: .35rem 1.25rem;">
        <span class="badge badge-light text-green">{{this.def}}</span>
        DEF
      </li>
      <li class="list-group-item align-items-center bg-{{this.bg}}" style="padding: .35rem 1.25rem;">
        <span class="badge badge-light text-purple">{{this.int}}</span>
        INT
      </li>
      <li class="list-group-item align-items-center bg-{{this.bg}}" style="padding: .35rem 1.25rem;">
        <span class="badge badge-light text-blue">{{this.res}}</span>
        RES
      </li>
    </ul>
  </div>
  </a>

<script>
$(document).ready(function(){

  $("#rpg-class-{{this.id}}").click(function(){
    var rpgclass = new rpgClass("{{this.name}}", {{this.hp}}, {{this.att}}, {{this.def}}, {{this.int}}, {{this.res}});
    localStorage.setItem('objRpgclass', JSON.stringify(rpgclass));
    console.log(rpgclass.name);
  });
});

</script>
{{/each}}

</div><!-- /Class Selection -->

<script> 
// --- Initialize Player Object ---
var player = {
  name: undefined,
  level: 0,
  exp: 0,
  class: undefined,
  weapon: undefined,
  hp: undefined,
  att: undefined,
  def: undefined,
  int: undefined,
  res: undefined,
  basic: undefined,
  special: undefined,
  support: undefined,
  attack: undefined,
  ultimate: undefined
}

var skills = {
  hp: 0,
  att: 0,
  def: 0,
  int: 0,
  res: 0,
  mana: 1,
  support: undefined,
  attack: undefined,
  ultimate: undefined
}
/* {{this.name}} */

localStorage.setItem('objPlayer', JSON.stringify(player));
localStorage.setItem('objSkills', JSON.stringify(skills));

</script>

{{> footer}}